* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--background);
}

:root {
    --acqua-marine: #55ffba;
    --background: #1b1b1b;
    --background-2: #242121;
    --primary-color: #22254b;
    --secondary-color: #373b69;
}

body {
    overflow-x: hidden;
}





/* Inizio Header */

#header {
    position: absolute;
    bottom: 50vh;
    right: 0;
    height: 50vh;
    width: 100vw;
    border :1px solid var(--acqua-marine);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-title-header {
    height: 10rem;
    width: 65rem;
}

.title-header {
    color: #fff;
    font-size: 65px;
    font-weight: 900;
}

.button-reveal {
    border: 1px solid var(--acqua-marine);
    padding: 10px 30px;
    font-size: 22px;
    font-weight: 800;
    color: #fff;
}

/* Fine Header */





/* Inizio IQ */

#section-iq {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100vw;
    height: 55vh;
    background-color: var(--background);
    padding-left: 3vw;
    margin-top: 10vh;
    border: 1px solid var(--acqua-marine);
}

.title-section-iq {
    margin-bottom: 3vh;
    font-weight: 800;
    font-size: 20px;
    color: #fff;
    padding: 5px 20px;
    border-bottom: 1px solid var(--acqua-marine);
}

.possible-question-iq {
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin-top: 1.5vh;
    /* border: 1px solid var(--acqua-marine); */
    padding: 5px 20px;
    /* border-radius: 20px; */
    transition: 0.4s;
}

.custom-container-question {
    border: 1px solid var(--acqua-marine);
    border-radius: 15px;
    padding: 0 10px;
    margin: 4px;
}

.btn-qi-custom {
    margin-top: 20px;
    border: 1px solid rgb(47, 50, 214);
    color: #fff;
    padding: 10px 15px;
    font-size: 20px;
    letter-spacing: 1px;
    border-radius: 4px;
    transition: 0.4s;
}

.btn-qi-custom:hover {
    box-shadow:
        0 0 7px #280180,
        0 0 18px #200166,
        0 0 32px #1b0157,
        0 0 48px #12003b,
        0 0 65px #000000; 
}

/* Fine IQ */


.form-input {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#email {
    margin: 5px;
    padding-left: 15px;
    border: 1px solid var(--acqua-marine);
    height: 50px;
    background-color: var(--background-2);
    color: #fff;
    font-size: 20px;
    z-index: 100;
}

#password {
    margin: 5px;
    padding-left: 15px;
    border: 1px solid var(--acqua-marine);
    height: 50px;
    background-color: var(--background-2);
    color: #fff;
    font-size: 20px;
    z-index: 100;
}

.distance-custom {
    margin-left: 5vw;
}



.alert-custom {
    height: 50px;
    width: 60vw;
    border-radius: 0 15px 15px 0;
    background-color: #ee969e;
    border: 1px solid #e79ca3;
    color: #953b43;
    position: absolute;
    left: -20px;
    margin-top: 5vh;
    transform: translateX(-58vw);
    transition: 1s;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    letter-spacing: 1px;
}

input[type=radio] {
    width: 30px;
}

.title-question {
    margin-top: 10vh;
    height: 70px;
    width: 70vw;
    background-color: #4003CA;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
}

.color {
    position: relative;
    color: #fff;
    width: 20vw;
    height: 50px;
    border: 1px solid var(--acqua-marine);
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.color::after {
    content: '+';
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    visibility: hidden;
    text-transform: lowercase;
    color: #000;
    height: 100%;
    width: 0%;
    background-color: var(--acqua-marine);
    position: absolute;
    left: 0;
    transition: 0.4s;
}




.regular {
    content: '+';
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    visibility: hidden;
    text-transform: lowercase;
    color: #000;
    height: 100%;
    width: 0%;
    background-color: var(--acqua-marine);
    position: absolute;
    left: 0;
    transition: 0.4s;
}

.color:hover::after {
    width: 20%;
    opacity: 100%;
    visibility: visible;
}





.interface-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 30vh;
    background-color: var(--background-2);
    position: absolute;
    right: 4.7vw;
    top: 65vh;
    padding: 0 40px;
    text-align: center;
    transition: 0.5s;
}

.score {
    background-color: var(--background-2);
    letter-spacing: 5px;
    color: #fff;
    font-size: 20px;
}