/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--background);
}

:root {
    --acqua-marine: #55ffba;
    --background: #1b1b1b;
    --background-2: #242121;
    --primary-color: #22254b;
    --secondary-color: #373b69;
}

body {
    overflow-x: hidden;
} */





/* Inizio Header */

/* #header {
    position: absolute;
    bottom: 50vh;
    right: 0;
    height: 50vh;
    width: 100vw;
    border :1px solid var(--acqua-marine);

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-title-header {
    height: 10rem;
    width: 65rem;
}

.title-header {
    color: #fff;
    font-size: 65px;
    font-weight: 900;
}

.button-reveal {
    border: 1px solid var(--acqua-marine);
    padding: 10px 30px;
    font-size: 22px;
    font-weight: 800;
    color: #fff;
} */

/* Fine Header */





/* Inizio IQ */

/* #section-iq {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100vw;
    height: 40vh;
    background-color: var(--background);
    padding-left: 3vw;
    margin-top: 10vh;
    border-left: 1px solid var(--acqua-marine);
    border-bottom: 1px solid var(--acqua-marine);
}

.title-section-iq {
    margin-bottom: 3vh;
    font-weight: 800;
    font-size: 20px;
    color: #fff;
    padding: 5px 20px;
    border-bottom: 1px solid var(--acqua-marine);
}

.possible-question-iq {
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin-top: 1.5vh;
    border: 1px solid var(--acqua-marine);
    padding: 5px 20px;
    border-radius: 20px;
    transition: 0.4s;
} */

/* Fine IQ */


/* .form-input {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#email {
    margin: 5px;
    padding-left: 15px;
    border: 1px solid var(--acqua-marine);
    height: 50px;
    background-color: var(--background-2);
    color: #fff;
    font-size: 20px;
    z-index: 100;
}

#password {
    margin: 5px;
    padding-left: 15px;
    border: 1px solid var(--acqua-marine);
    height: 50px;
    background-color: var(--background-2);
    color: #fff;
    font-size: 20px;
    z-index: 100;
}

.distance-custom {
    margin-left: 5vw;
} */